<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
<!--  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">-->
<!--    <encoder>-->
<!--      <pattern>${LOG_PATTERN}-->
<!--      </pattern>-->
<!--    </encoder>-->
<!--  </appender>-->
<!--  &lt;!&ndash; Appenders &ndash;&gt;-->
<!--  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="INFO_FILE">-->
<!--    <encoder>-->
<!--      <pattern>${LOG_PATTERN}-->
<!--      </pattern>-->
<!--    </encoder>-->
<!--    <file>logs/info.log</file>-->
<!--    <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--      <level>INFO</level>-->
<!--      <onMatch>ACCEPT</onMatch>-->
<!--      <onMismatch>DENY</onMismatch>-->
<!--    </filter>-->

<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--      <fileNamePattern>logs/info.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--      <maxHistory>7</maxHistory>-->
<!--    </rollingPolicy>-->
<!--  </appender>-->

<!--  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="WARN_FILE">-->
<!--    <encoder>-->
<!--      <pattern>${LOG_PATTERN}-->
<!--      </pattern>-->
<!--    </encoder>-->
<!--    <file>logs/warn.log</file>-->
<!--    <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--      <level>WARN</level>-->
<!--      <onMatch>ACCEPT</onMatch>-->
<!--      <onMismatch>DENY</onMismatch>-->
<!--    </filter>-->

<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--      <fileNamePattern>logs/warn.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--      <maxHistory>7</maxHistory>-->
<!--    </rollingPolicy>-->
<!--  </appender>-->

<!--  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ERROR_FILE">-->
<!--    <encoder>-->
<!--      <pattern>${LOG_PATTERN}-->
<!--      </pattern>-->
<!--    </encoder>-->
<!--    <file>logs/error.log</file>-->
<!--    <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--      <level>ERROR</level>-->
<!--      <onMatch>ACCEPT</onMatch>-->
<!--      <onMismatch>DENY</onMismatch>-->
<!--    </filter>-->

<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--      <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--      <maxHistory>7</maxHistory>-->
<!--    </rollingPolicy>-->
<!--  </appender>-->

<!--  <logger level="warn" name="briefing">-->
<!--    <appender-ref ref="WARN_FILE"/>-->
<!--    <appender-ref ref="ERROR_FILE"/>-->
<!--  </logger>-->

<!--  &lt;!&ndash; Loggers &ndash;&gt;-->
<!--  <property name="LOG_PATTERN"-->
<!--    value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n"/>-->

<!--  &lt;!&ndash; Root Logger &ndash;&gt;-->
<!--  <root level="info">-->
<!--    <appender-ref ref="CONSOLE"/>-->
<!--    <appender-ref ref="INFO_FILE"/>-->
<!--  </root>-->

<!--</configuration>-->
